<div
  class="py-4 px-2 font-bold hover:bg-gray-100 cursor-pointer bordet-t border-gray-200"
>
  <div class="flex items-center group">
    <div class="flex flex-1">
      <div>
        <span
          class="m-10 h-10 inline-flex items-center rounded-full bg-gray-300"
          >KB07</span
        >
      </div>
      <div class="mt-3">
        <div class="text-sm text-gray-900">BAPPY.</div>
        <div class="text-sm font-normal text-gray-500 truncate">
          What is the update your project?
        </div>
      </div>
    </div>

    <div class="font-normal hidden gruop-hover:inine-flex">
      <i class="ri-delete-bin-6-fill ri-lg text-red-600"></i>
    </div>
  </div>
</div>
